<h1 align="center">Sign up for Alpha Blog</h1>

<%= render 'form' %>
<div class='row'>
    <div class='col-xs-12'>
        <div class="col-xs-4 col-xs-offset-4">
            <p>Already have an account? Then <%= link_to "Log in!", login_path %></p>
        </div>
    </div>
</div>

